body{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.container{
    display: flex;
    
}
p{
    text-align: justify;
    color: white;
    margin-bottom: 28px;
    line-height: 22px;
    
}
.t1{
    text-align: justify;
    color: white;
    margin-bottom: 28px;
    line-height: 22px;
    margin: 50px;
}
form {
    position: relative;
    left: 500px;
}

footer{
    padding: 20px 10px;
    width: auto;
    background: #00aae4;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.box{
    font-size: 40px;
    color: white;
    margin: auto;
}
.piepagina{
    color: white;
}
#quienes{
    background: black;
}
h1{
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

}
#Destacado{
    background: black;
}
.card-body{
    background: #00aae4;
}
#contacto{
    background: black;
}
label{
    color: white;
}

.box{
    background: #00aae4;
    width: 500px;
}
.card{
    margin: 50px;
    width: 140%;
    display: block;
    border: white;

}
.card-img-top{
    width: 140%;
    display: block;
}
.card-body{
    width: 140%;
    display: block;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
#enviar{
    background: #00aae4
}